
body,h1,hr{
   background-color: black; 
  /* background: url("galaxy.jpg");  */
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.title{
  font-family: 'Orbitron',sans-serif;
  color: black;
  font-size: 56px;
  height:10vh;
  text-align: center;
  letter-spacing: 0.4rem;
  font-weight:bolder;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: yellow;
  padding: 15px;
   
}


hr{
 border: 2px solid yellow;
}

nav{
  padding-top: 20px;
  display: flex;
  justify-content: space-around;


  
}

.nav-btn{
  margin:0.5rem;
  border: transparent;
  background: yellow;
  border:transparent;
  /* border-radius: 1rem; */
  padding: 0.5rem 1rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: bolder;
  outline:2px solid yellow;
  outline-offset: 4px;
  transition: transform 0.25s;
} 

.nav-btn:hover{
  opacity: 0.9;
  transform: translateY(-0.25em)

}

@media (max-width:540px) {
  nav {
    flex-direction: column;
  }

  .nav-btn{
    margin: 10px;
    outline:none
  }

}
